.container {
  max-width: 450px;
  margin: 0 auto;
}
.dialog {
  width: calc(100% - 16px);
  height: 100vw;
  max-height: 450px;
  max-width: 450px;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}
.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.808);
}
