.commentsNav {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  max-width: 450px;
  background-color: white;
}
.commentNavInnerContainer {
  position: relative;
  border-bottom: 1px solid rgb(202, 202, 202);
  padding: 12px;
}

.commentsNav h1 {
  font-size: 20px;
  text-align: center;
}

.commentsBackArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.CommentPageContainer {
  margin-top: 48px;
  margin-bottom: 60px;
  background-color: white;
  max-width: 450px;
  margin: 48px auto 42px auto;
  min-height: calc(100svh);
}
.commentInputContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 450px;
  padding: 12px;
  background-color: white;
  border-top: 1px solid rgb(202, 202, 202);
}
.commentInputContainerInner {
  position: relative;
}
.sendArrow {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}
.commentInputContainer input {
  width: 100%;
  border: 1px solid rgb(202, 202, 202);
  padding: 12px;
  font-family: sans-serif;
}

.commentsContainer {
  border-top: 1px solid rgb(202, 202, 202);
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  scroll-margin-top: 100px;
}

.individualCommentContainer {
  display: flex;
  gap: 16px;
}

.commentContext {
  background-color: rgb(202, 202, 202);
  padding: 8px 12px;
  border-radius: 12px;
}
.commentContext h2 {
  font-size: 16px;
  margin-bottom: 4px;
}
